
.ssc-sprite {
background-image: url("https://assets.cdnppb.net/ssc/ssc-sprite.svg?v=20") !important;
background-repeat: no-repeat;
}
.ssc-family-bar {
background-image: url("https://assets.cdnppb.net/ssc/ssc-family-bar.svg") !important;
background-repeat: no-repeat;
}
